<a href="https://colab.research.google.com/github/Dileepsingh6432/Python-Revision/blob/main/Python_Revision.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

A **Statement** is an instruction that the Python interpreter can execute.
 Eg. Assignment statement, For, while, import, etc.


An **Expression** is a combination of values, variables, operators, and calls to functions.

## Strings

Strings in Python are actually a *sequence*, which     basically means Python keeps track of every element in the string as a sequence.

### <b> Python's built-in len() function counts all of the characters in the string, including spaces and punctuation. </b>

### <u> String Indexing </u>

* We know strings are a sequence, which means Python can use indexes to call parts of the sequence.


* A string index refers to the location of an element present in a string.


* The indexing begins from 0 in Python.


* The first element is assigned an index 0, the second element is assigned an index of 1 and so on and so forth.


* In Python, we use brackets <code>[]</code> after an object to call its index.

###  Creating a String
* To create a string in Python you need to use either single quotes or double quotes.

## String Slicing
* We can use a <code>:</code> to perform *slicing* which grabs everything up to a designated point.


* The starting index is specified on the left of the <code>:</code> and the ending index is specified on the right of the <code>:</code>.


* Remember the element located at the right index is not included.

## String Properties

* It's important to note that strings have an important property known as *immutability*.


* This means that once a string is created, the elements within it can not be changed or replaced via item assignment. We will see how we can do such operation using string methods

## String functions and methods

In [ ]:
algorithm = 'Neural Networks'

print(algorithm)

Neural Networks

### <code>len()</code>

* <code>len()</code> function returns the length of the string

In [ ]:
# Print the length of the string
len(algorithm)

15

###  <code>lower()</code>

* <code>lower()</code> method converts the string to lowercase

In [ ]:
# Conver the string to lowercase
algorithm.lower()

'neural networks'

In [ ]:
print(algorithm)

Neural Networks

* <u> What about <code>lower(algorithm)</code>? Is it not similar to the <code>len()</code>function?</u>


* <u> An important point to note here is <code>len()</code> is a function and <code>lower()</code> is a method for a string object. It will be pretty clear about the exact differences between a function and a method as we move ahead. </u>

In [ ]:
# Lets try that out
lower(algorithm)

NameError: ignored

###  <code>upper()</code>

* <code>upper()</code> method converts the string to uppercase

In [ ]:
# Convert the string to uppercase
algorithm.upper()

'NEURAL NETWORKS'

In [ ]:
print(algorithm)

Neural Networks

### <code>count()</code>

*  <code>count()</code> method returns the count of a string in the given string. Unlike <code>lower()</code> and <code>upper()</code> method, the <code>count()</code> method takes a string as an argument

In [ ]:
print(algorithm)

Neural Networks

In [ ]:
algorithm.count('Ne')

2

In [ ]:
algorithm.count('eu')

1

In [ ]:
algorithm.count(' ')

1

In [ ]:
algorithm.count('Neural')

1

In [ ]:
algorithm.count('Neurla')

0

### <code>find()</code>

* <code>find()</code> method returns the index of the first occurrence of a string present in a given string. Similar to the <code>count()</code> method, the <code>find()</code> method takes a string as an argument

In [ ]:
print(algorithm)

Neural Networks

In [ ]:
algorithm.find('e')

1

In [ ]:
algorithm.find('Neural')

0

In [ ]:
algorithm.find('Box')

-1

* <u>An important point to note here is that if the string which you are looking for, is not contained in the original string, then the find method will return a value of -1 </u>

### <code>replace()</code>

*  <code>replace()</code> method takes two arguments - (i) the string to replace and (ii) the string to replace with, and returns a modified string after the operation

In [ ]:
print(algorithm)

Neural Networks

In [ ]:
algorithm.replace(' ','-')

'Neural-Networks'

In [ ]:
algorithm.replace('N','L')

'Leural Letworks'

In [ ]:
print(algorithm)

Neural Networks

* <u>Another important point worth noting here is applying any method on a string does not actually change the original string. For example, when you print out the algorithm string, it still contains the original value 'Neural Networks'</u>


* <u> We need to store the modified string in another variable

In [ ]:
# Storing the modified string
algorithm_revised  = algorithm.replace('Neural','Artificial Neural')
print(algorithm_revised)
print(algorithm)

Artificial Neural Networks
Neural Networks

### Printing strings a bit differently

In [ ]:
first_name = 'Rahul'
last_name = 'Modi'

full_name = f'Left plus right makes {first_name}  {last_name}'  # Use {} to print the variable you want to
print(full_name)

Left plus right makes Rahul  Modi

In [ ]:
print(first_name + ' '+last_name)

Rahul Modi

In [ ]:
first_name = 'Vikash'
middle_name = ''
last_name = 'Srivastava'

full_name = f'I am none other than {first_name} {middle_name}{last_name}. I am a Data Scientist'
print(full_name)

I am none other than Vikash Srivastava. I am a Data Scientist

In [ ]:
print(f'I am none other than {first_name} {middle_name}{last_name}. I am a Data Scientist')

I am none other than Vikash Srivastava. I am a Data Scientist

### Check if a string contains a particular word or character

In [ ]:
my_string = 'Albert Einstein'

In [ ]:
'Albert' in my_string

True

In [ ]:
'Alberta' in my_string

False

# Lists

### Earlier when discussing strings we introduced the concept of a <u>sequence</u> in Python.
* <u>Lists</u> can be thought of the most general version of a *sequence* in Python.


* Unlike strings, they are mutable, meaning the elements inside a list can be changed!


* Lists are constructed with brackets <code>[]</code> and commas separating every element in the list.

## List Indexing
* Indexing work just like in strings.


* A list index refers to the location of an element in a list.


* Remember the indexing begins from 0 in Python.


* The first element is assigned an index 0, the second element is assigned an index of 1 and so on and so forth.

## List Slicing

* We can use a <code>:</code> to perform *slicing* which grabs everything up to a designated point.


* The starting index is specified on the left of the <code>:</code> and the ending index is specified on the right of the <code>:</code>.


* Remember the element located at the right index is not included.

## List Functions

### <code>len()</code>


* <code>len()</code> function returns the length of the list

In [ ]:
print(loss_functions)

['Mean Absolute Error', 'Mean Squared Error', 'Huber Loss', 'Log Loss', 'Hinge Loss', 'Kullback-Leibler']

In [ ]:
len(loss_functions)

6

### <code>min()</code>


* <code>min()</code> function returns the minimum element of the list


* <code>min()</code> function only works with lists of similar data types

In [ ]:
new_list = [6, 9, 1, 3, 5.5]

In [ ]:
min(new_list)

1

In [ ]:
my_new_list = ['a','b', 'z' ,'y' , 'm']

In [ ]:
min(my_new_list)

'a'

### <code>max()</code>


* <code>max()</code> function returns the maximum element of the list


* <code>max()</code> function only works with lists of similar data types

In [ ]:
new_list = ['Argue','Burglar','Parent','Linear','shape']

In [ ]:
max(new_list)

'shape'

### <code>sum()</code>


* <code>sum()</code> function returns the sum of the elements of the list


* <code>sum()</code> function only works with lists of numeric data types

In [ ]:
new_list = [6, 9, 1, 3, 5.5]

In [ ]:
sum(new_list)

24.5

### <code>sorted()</code>


* <code>sorted()</code> function returns the sorted list


* <code>sorted()</code> function takes reverse boolean as an argument


* <code>sorted()</code> function only works on a list with similar data types

In [ ]:
new_list

[6, 9, 1, 3, 5.5]

In [ ]:
sorted(new_list)

[1, 3, 5.5, 6, 9]

In [ ]:
print(new_list)

[6, 9, 1, 3, 5.5]

In [ ]:
new_list = ['Argue','Burglar','Parent','Linear','shape']

In [ ]:
sorted(new_list)

['Argue', 'Burglar', 'Linear', 'Parent', 'shape']

In [ ]:
print(new_list)

[6, 9, 1, 3, 5.5]

In [ ]:
sorted(new_list,reverse=True)

[9, 6, 5.5, 3, 1]

In [ ]:
sorted(new_list)

TypeError: ignored

* <code>sorted()</code> function does not change our list

In [ ]:
new_list

[6, 9, 1, 3, 5.5]

## List Methods

* If you are familiar with another programming language, you might start to draw parallels between arrays in another language and lists in Python. Lists in Python however, tend to be more flexible than arrays in other languages for a two good reasons: they have no fixed size (meaning we don't have to specify how big a list will be), and they have no fixed type constraint (like we've seen above).


* Let's go ahead and explore some more special methods for lists:

In [ ]:
# Create a new list
my_list = [1,2,3,1,1,1,3,10,5,8]

### <code>append()</code>

* Use the <code>append()</code> method to permanently add an item to the end of a list.


* <code>append()</code> method takes the element which you want to add to the list as an argument

In [ ]:
# Print the list
my_list

[1, 2, 3, 1, 1, 1, 3, 10, 5, 8]

In [ ]:
len(my_list)

10

In [ ]:
# Append to the end of the list
my_list.append('Append me!')

* Ah darn it! I was expecting some output. Lets see what happened to <code>my_list</code>

In [ ]:
print(my_list)

[1, 2, 3, 1, 1, 1, 3, 10, 5, 8, 'Append me!']

In [ ]:
len(my_list)

11

* Woah! Calling the <code>append()</code> method changed my list? Yes, the <code>append()</code>  method changes your original list!

In [ ]:
# Show
my_list.append(2.73)

In [ ]:
print(my_list)

[1, 2, 3, 1, 1, 1, 3, 10, 5, 8, 'Append me!', 2.73]

* We can in fact add a list object to our <code>my_list</code> object

In [ ]:
my_list.append([1,2,3])

In [ ]:
my_list

[1, 2, 3, 1, 1, 1, 3, 10, 5, 8, 'Append me!', 2.73, [1, 2, 3]]

In [ ]:
len(my_list)

13

In [ ]:
my_list.append([10,[19,20],30])

In [ ]:
len(my_list)

14

### <code>extend()</code>

* Use the <code> extend()</code> method to merge a list to an existing list


* <code> extend()</code> method takes a list or any iterable(don't worry about it now) as an argument.


* Quite helpful when you have two or more lists and you want to merge them together

In [ ]:
# Print the list
print(my_list)

[1, 2, 3, 1, 1, 1, 3, 10, 5, 8, 'Append me!', 2.73, [1, 2, 3], [10, [19, 20], 30]]

In [ ]:
my_list.extend(['Wubba','Lubba','Dub Dub'])

In [ ]:
print(my_list)

[1, 2, 3, 1, 1, 1, 3, 10, 5, 8, 'Append me!', 2.73, [1, 2, 3], [10, [19, 20], 30], 'Wubba', 'Lubba', 'Dub Dub']

In [ ]:
len(my_list)

17

### <code>pop()</code>

* Use <code>pop()</code> to "pop off" an item from the list.


* By default <code>pop()</code> takes off the element at the last index, but you can also specify which index to pop off.


* <code>pop()</code> takes the index as an argument and returns the elenent which was popped off.

In [ ]:
# Print the list
print(my_list)

[1, 2, 3, 1, 1, 1, 3, 10, 5, 8, 'Append me!', 2.73, [1, 2, 3], [10, [19, 20], 30], 'Wubba', 'Lubba', 'Dub Dub']

In [ ]:
# Pop off the 0 indexed item
my_list.pop()

'Dub Dub'

* <code>pop()</code> method changes the list by popping off the element at the specified index

In [ ]:
print(my_list)

[1, 2, 3, 1, 1, 1, 3, 10, 5, 8, 'Append me!', 2.73, [1, 2, 3], [10, [19, 20], 30], 'Wubba', 'Lubba']

In [ ]:
# Assign the popped element, remember default popped index is -1
my_list.pop(-1)

'Lubba'

In [ ]:
len(my_list)

14

In [ ]:
print(my_list)

[1, 2, 3, 1, 1, 1, 3, 10, 5, 8, 'Append me!', 2.73, [1, 2, 3], [10, [19, 20], 30], 'Wubba']

### <code>remove()</code>

* Use <code>remove()</code> to remove an item/element from the list.


* By default <code>remove()</code> removes the specified element from the list.


* <code>remove()</code> takes the element as an argument.

In [ ]:
# Print the list
print(my_list)

[1, 2, 3, 1, 1, 1, 3, 10, 5, 8, 'Append me!', 2.73, [1, 2, 3], [10, [19, 20], 30], 'Wubba']

In [ ]:
# Remove the element which you want to
my_list.remove([10, [19, 20], 30])

In [ ]:
# Show
print(my_list)

[1, 2, 3, 1, 1, 1, 3, 10, 5, 8, 'Append me!', 2.73, [1, 2, 3], 'Wubba']

In [ ]:
my_list.remove([1,2,3])

In [ ]:
print(my_list)

[1, 2, 3, 1, 1, 1, 3, 10, 5, 8, 'Append me!', 2.73, 'Wubba']

In [ ]:
len(my_list)

12

In [ ]:
my_list.remove(1)

In [ ]:
print(my_list)

[2, 3, 1, 1, 3, 10, 5, 8, 1.43, 'Wubba', 'Lubba']

In [ ]:
len(my_list)

11

In [ ]:
my_list.clear

### <code>count()</code>


* The <code>count()</code> method returns the total occurrence of a specified element in the list

In [ ]:
print(my_list)

[1, 2, 3, 1, 1, 1, 3, 10, 5, 8, 'Append me!', 2.73, 'Wubba']

In [ ]:
# Count the number of times element 1 occurs in my_list
my_list.count('Wubba')

1

In [ ]:
my_list.count(1)

4

### <code>index()</code>


* The <code>index()</code> method returns the index of a specified element.

In [ ]:
print(my_list)

[1, 2, 3, 1, 1, 1, 3, 10, 5, 8, 'Append me!', 2.73, 'Wubba']

In [ ]:
my_list.index('Wubba')

12

In [ ]:
my_list.index(3)

2

### <code>sort()</code>

* Use <code>sort()</code> to sort the list in either ascending/descending order


* The sorting is done in ascending order by default


* <code>sort()</code> method takes the reverse boolean as an argument


* <code>sort()</code> method only works on a list with elements of same data type

In [ ]:
new_list = [6, 9, 1, 3, 5]

In [ ]:
# Use sort to sort the list (this is permanent!)
new_list.sort()

In [ ]:
print(new_list)

[1, 3, 5, 6, 9]

In [ ]:
# Use the reverse boolean to set the ascending or descending order
new_list.sort(reverse=True)
print(new_list)

[9, 6, 5, 3, 1]

In [ ]:
boolean_list = [True, False]

In [ ]:
boolean_list.sort(reverse=True)

In [ ]:
print(boolean_list)

[True, False]

### <code>reverse()</code>

* <code>reverse()</code> method reverses the list

In [ ]:
my_list = [1, 1, 1, 1, 1.43, 2, 3, 3, 5, 8, 10, 'Lubba', 'Dub Dub']

In [ ]:
print(my_list)

[1, 1, 1, 1, 1.43, 2, 3, 3, 5, 8, 10, 'Lubba', 'Dub Dub']

In [ ]:
my_list.reverse()

In [ ]:
print(my_list)

['Dub Dub', 'Lubba', 10, 8, 5, 3, 3, 2, 1.43, 1, 1, 1, 1]

## Loops

For loop : In the context of most data science work, Python for loops are used to loop through an iterable object (like a list, tuple, set, etc.) and perform the same action for each entry. For example, a for loop would allow us to iterate through a list, performing the same action on each item in the list.

while loop : The while loop is somewhat similar to an if statement, it executes the code inside, if the condition is True. However, as opposed to the if statement, the while loop continues to execute the code repeatedly as long as the condition is True.

## break, continue, pass

### We can use <code>break</code>, <code>continue</code>, and <code>pass</code> statements in our loops to add additional functionality for various cases. The three statements are defined by:

    break: Breaks out of the current closest enclosing loop.
    continue: Goes to the top of the closest enclosing loop.
    pass: Does nothing at all.
    
    
### Thinking about <code>break</code> and <code>continue</code> statements, the general format of the <code>while</code> loop looks like this:

    while test:
        code statement
        if test:
            break
        if test:
            continue
    else:

### <code>break</code> and <code>continue</code> statements can appear anywhere inside the loop’s body, but we will usually put them further nested in conjunction with an <code>if</code> statement to perform an action based on some condition.

## List Comprehension

### List comprehensions are a tool for transforming one list (any iterable actually) into another list. During this transformation, elements can be conditionally included in the new list and each element can be transformed as needed.

## <u> From loops to comprehensions</u>

### <b>Every list comprehension can be rewritten as a <code>for</code> loop but not every <code>for</code> loop can be rewritten as a list comprehension </b>.

## A list comprehension consists of the following parts:

* An Input Sequence.
* A Variable representing members of the input sequence.
* An Optional Predicate expression.
* An Output Expression producing elements of the output list from members of the Input Sequence that satisfy the predicate.

![List Comprehension.PNG]()

* #### The iterator part iterates through each member <code>number</code> of the input sequence <code>list_of_numbers</code>.
* #### The predicate checks if the member is even.
* #### If the member is even then it is passed to the output expression, squared, to become a member of the output list.

## <u> Using <code>for</code> loop </u>    
    even_squared_numbers = []

    for number in list_of_numbers:
      if number%2 == 0:
        even_squared_numbers.append(number**2)

## <u> Using list comprehension </u>

    even_squared_numbers = [number**2 for number in list_of_numbers if number%2==0]

## So how did we convert our <code>for</code> loop into a list comprehension?
* Copying the variable assignment for our new empty list
* Copying the expression <code>number**2</code> that we’ve been appending into this new list
* Copying the for loop line, excluding the final <code>:</code>
* Copying the if statement line, also without the <code>:</code>

## **Functions**


Functions will be one of our main building blocks when we construct larger and larger amounts of code to solve problems.

**So what is a function?**

Formally, a function is a useful device that groups together a set of statements so they can be run more than once. They can also let us specify parameters that can serve as inputs to the functions.


Functions will be one of the most basic levels of **reusing code in Python**.